.rev{
    height:500px;
    width: auto;
    background-image: url("bg1.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: rgb(3, 3, 3);
    padding: 50px;
    padding-top: 50px;
}
.rev_txt{
    color: white;
    text-align: center;
    padding-top: 50px; 
    font-weight: bold; 
    font-size: xx-large;
}
.text{
    font-family: 'Special Elite', cursive;
}
.exc{
    font-family: 'Fugaz One', cursive;
}

.transparent{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.form-control::-webkit-input-placeholder{
    color: white;
    font-weight: bold;
}
.api{
    padding: 10px;
}
.btn-secondary{
    margin: 20px;
    text-align: center;
 }
.feed-back{
   background-image: url("bg2.jpg");
    text-align: center;
    padding: 50px;
    height: auto;
    width: auto;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    color: white;
}
.feed-back-txt{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

